---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    Contatos
  </div>
  <div class="inline opacity-75">
   <b> Emai: rarinaldo@outlook.com | Whatsapp: 67 981767637</b>
  </div>
</footer>
<style></style>